# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
.env

# Node / Frontend
node_modules/
dist/
.cache/

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/.terraform.lock.hcl
infra/terraform.tfvars

# Misc
.DS_Store
*.log
